In [1]:
import pandas as pd
import urllib.request

In [3]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [5]:
column_names =["Sepal_Length", "Sepal_width", "Petal_length", "Petal_Width", "Class"]

In [7]:
iris = pd.read_csv(url, names=column_names)
iris.head()

   Sepal_Length  Sepal_width  Petal_length  Petal_Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [11]:
iris.head()
iris.tail()
iris.index
iris.columns
iris.shape
iris.dtypes
iris["Sepal_Length"]
iris.iloc[5]
iris[0:3]
iris.loc[:,["Sepal_Length","Sepal_width"]]
iris.iloc[:5,:]
iris.iloc[:,:5]
iris.iloc[:5,:5]

   Sepal_Length  Sepal_width  Petal_length  Petal_Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [13]:
iris.isnull().any()

Sepal_Length    False
Sepal_width     False
Petal_length    False
Petal_Width     False
Class           False
dtype: bool

In [15]:
iris.isnull().sum()
iris.isnull().sum().sum()

0

In [17]:
iris.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
145    0
146    0
147    0
148    0
149    0
Length: 150, dtype: int64

In [19]:
iris.dtypes

Sepal_Length    float64
Sepal_width     float64
Petal_length    float64
Petal_Width     float64
Class            object
dtype: object

In [23]:
iris["Petal_length"] = iris["Petal_length"].astype('int')
iris.head()

   Sepal_Length  Sepal_width  Petal_length  Petal_Width        Class
0           5.1          3.5             1          0.2  Iris-setosa
1           4.9          3.0             1          0.2  Iris-setosa
2           4.7          3.2             1          0.2  Iris-setosa
3           4.6          3.1             1          0.2  Iris-setosa
4           5.0          3.6             1          0.2  Iris-setosa

In [26]:
from sklearn import datasets
df = pd.DataFrame(iris)
df.head()

   Sepal_Length  Sepal_width  Petal_length  Petal_Width        Class
0           5.1          3.5             1          0.2  Iris-setosa
1           4.9          3.0             1          0.2  Iris-setosa
2           4.7          3.2             1          0.2  Iris-setosa
3           4.6          3.1             1          0.2  Iris-setosa
4           5.0          3.6             1          0.2  Iris-setosa